       .box:first-child {
           background-color: red;
           ;
       }

       .box::first-line {
           background-color: blue;
       }

       .boxes * {
           color: white;
           border: 2px solid black;
       }

       [data-color="primary"] {
           color: aqua;
       }

       .box:nth-child(1) {
           color: green;
       }

       .box:nth-child(even) {
           color: purple;
       }

       .box:nth-last-child(1) {
           color: antiquewhite
       }

       .boxes::before {
           content: "My Course";
           color: burlywood;
           font-size: 30px;
       }

       .boxes::after {
           content: "Good Work";
           color: rgb(17, 154, 90);
           font-size: 30px;
       }

       ::selection {
           font-style: italic;
       }

       .box::first-letter {
           font-size: 30px;
       }

       input::placeholder {
           font-style: italic;
       }