body {
    border: 0;
    padding: 0;
    font-family: 'Segoe UI';
}

.navbar {
    margin-top: 20px;
    margin-left: 200px;
    display: flex;
    column-gap: 300px;
}

ul {
    display: flex;
}

ul li {
    font-size: 16px;
    list-style: none;
    padding-right: 30px;
}

.logo {
    display: flex;
}

.text h1 {
    font-weight: bolder;
}

.text p {
    font-size: xx-small;
}
.line1
{
    display:flex;
}
.line1 h1
{
    font-size: 40px;
    font-weight: 400;
}
.bodyflex
{
    margin-top: 40px;
    width:100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
}
h3{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.image
{
    position: relative;
    left:25px;
    top:30px;
}
.button
{
    margin-top:30px ;
    border:2px solid blue;
    background-color: blue;
    width:300px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.middle
{
    display:flex;
    margin-left: 300px;
    margin-top: 40px;
}
.text{
    line-height: 6.9px;
}
.middle h3{
position: relative;
top:-18px;
left:15px;
}
.middle p{
    position: relative;
top:0px;
left:20px;
}
.card1
{
    background-color: whitesmoke;
    width:400px;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    border-radius: 10px;
}
.card1 p{
    font-size:x-small;
}
.button2
{
    border:2px solid green;
    background-color:green;
    width:150px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
a{
    
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.lasttext
{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
strong{
    font-size: 16px;
}